.homepage {
  display:flex;
  margin: 20px;
  border: 1px solid black;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  
}
.menu{
  border: 1px solid black;
  min-width: 30%;
  display: flex;
  align-items: center;
  height: 200px;
  margin: auto;
  flex: 1 1 auto;
}
.submenu{
  border: 1px solid black;
  margin: 10px;
  margin: auto;
  height: 90px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
}
h1{
  font-size: 22px;
}